name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - staging
  schedule:
    - cron: '0 1 * * *'

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings
  RUST_BACKTRACE: 1

defaults:
  run:
    shell: bash

jobs:
  test:
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: taiki-e/github-actions/install-rust@main
        with:
          toolchain: ${{ matrix.rust }}
      - run: cargo install cargo-hack
      - run: cargo test --all --all-features
      - run: cargo hack check --all --ignore-private --feature-powerset --no-dev-deps
      - name: Run examples
        run: |
          set -x
          cargo run -p rust2json -- examples/rust2json/src/main.rs examples/rust2json/main.json
          cargo run -p rust2json -- examples/json2rust/src/main.rs examples/json2rust/main.json
          cargo run -p rust2json -- examples/rust2pickle/src/main.rs examples/rust2pickle/main.json
          if ! git diff --exit-code; then
            echo "::warning::examples/*/main.json needs to be updated"
          fi
        if: startsWith(matrix.rust, 'nightly')
      - run: tools/check-minimal-versions.sh
        if: startsWith(matrix.rust, 'nightly')

  build:
    strategy:
      matrix:
        range:
          # This is the minimum supported Rust version of this crate.
          # When updating this, the reminder to update the minimum supported
          # Rust version in README.md and clippy.toml.
          - 1.31..1.40
          - 1.41..
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cargo install cargo-hack
      - run: cargo hack build --all --ignore-private --no-dev-deps --version-range ${{ matrix.range }}

  codegen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: taiki-e/github-actions/install-rust@main
        with:
          component: rustfmt
      - run: tools/gen.sh
      - run: git diff --exit-code

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: taiki-e/github-actions/install-rust@main
        with:
          component: clippy
      - run: cargo clippy --all --all-features --all-targets

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: taiki-e/github-actions/install-rust@main
        with:
          component: rustfmt
      - run: cargo fmt --all -- --check

  rustdoc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: taiki-e/github-actions/install-rust@main
      - run: cargo doc --no-deps --all --all-features
        env:
          RUSTDOCFLAGS: -D warnings

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: shellcheck **/*.sh

  # This job doesn't actually test anything, but they're used to tell bors the
  # build completed, as there is no practical way to detect when a workflow is
  # successful listening to webhooks only.
  #
  # ALL THE PREVIOUS JOBS NEEDS TO BE ADDED TO THE `needs` SECTION OF THIS JOB!

  ci-success:
    name: ci
    if: github.event_name == 'push' && success()
    needs:
      - test
      - build
      - codegen
      - clippy
      - rustfmt
      - rustdoc
      - shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Mark the job as a success
        run: exit 0
